<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Chat</title>
    <link rel="stylesheet" type="text/css" href="../libs/css/bootstrap/css/bootstrap.min.css"/>
    <link rel="stylesheet" type="text/css" href="../libs/css/chat.css"/>
    <script type="text/javascript" src="../libs/js/jquery-3.1.0.js"></script>
    <script type="text/javascript" src="../libs/js/angular/angular.js"></script>
    <script type="text/javascript" src="../libs/js/angular/angular-animate.js"></script>
    <script type="text/javascript" src="../libs/js/ui-bootstrap-tpls-2.4.0.js"></script>
    <script type="text/javascript" src="../libs/js/app/chat.js"></script>
  </head>
  <body>
    <div class="todo" ng-app="myApp" ng-controller="chatController">
      <table class="tTodo">
        <tbody>
          <tr>
            <td  style="width:200px;" vertical-align="top">
              <div class="selContacto">
                <table>
                  <thead>
                    <tr>
                      <th>
                        Mis contactos
                        <br>
                        <button ng-click='open();'>Agregar contacto</button>
                      </th>

                    </tr>
                  </thead>
                  <tr ng-repeat="c in lstContactos" >
                    <td>
                      <div >
                        <button type="button" ng-bind="c.contacto" ng-click="EligeContacto(c.contacto);" ng-class="{'mensajep':c.ultimo==1,'contactos':c.ultimo==0}"></button>
                      </div>
                    </td>
                  </tr>
                </table>
              </div>
            </td>
            <td style="width:10px;">
            </td>
            <td vertical-align="top">
              <div class="hChat">
                <label>{{lContacto}}</label>
              </div>
              <div class="bgchat">
                <table width="100%">
                    <tr ng-repeat="m in lstMensajes">
                      <td vertical-align="top">
                        <div ng-class="{'usuario':m.contacto==lContacto,'contacto':m.contacto!=lContacto}">
                            {{m.mensaje}}
                        </div>
                      </td>
                    </tr>
                </table>
              </div>
              <div class="fChat">
                <table width="100%">
                  <tr>
                    <td>
                      <input type="text" ng-model="tMensaje" class="form-control">
                    </td>
                    <td style="width:100px;">
                      <button type="button" ng-click="nuevoMensaje(lContacto,tMensaje);" width="100px">Enviar</button>
                    </td>
                  </tr>
                </table>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </body>
</html>
